doctype html
head
	title Samily CrewLink Server
	link(rel="icon", href="https://github.com/ottomated/CrewLink/raw/master/logo.png", type="image/x-icon")
	meta(property='og:title' content='CrewLink Server')
	meta(property='og:description' content='Voice server for Among Us proximity chat')
	meta(property='og:image' content='https://github.com/ottomated/CrewLink/raw/master/logo.png')
	style.
		body {
		background-color: #23272a;
		color: white;
		font-family: sans-serif;
		text-align: center;
		}
		img {
		height: 128px;
		width: 128px;
		margin: 32px auto;
		display: block;
		}
		a {
			text-decoration: none;
			color: #3498db
		}
		a:hover {
			text-decoration: underline;
		}
a(href="https://www.seum.tv", target="_blank"): img(src="https://cdn.theseumresource.com/assets/logo.png")
h1 Samily CrewLink Server for Among Us
p | Join Us on a(href="https://www.discord.gg/seum", target="_blank") Discord! |
p There #{connectionCount === 1 ? 'is' : 'are'} currently #{connectionCount} connected user#{connectionCount === 1 ? '' : 's'}.